 body,
 html {
     width: 100%;
     height: 100%
 }
 
 body {
     font-family: 'Source Sans Pro'
 }
 
 .btn-xl {
     padding: 1.25rem 2.5rem
 } 
 
 .content-section {
     padding-top: 40px;
     padding-bottom: 7.5rem;
     background-color: grey
 }
 
 .content-section-heading h2 {
     font-size: 3rem
 }
 
 .content-section-heading h3 {
     font-family: 'Chivo', sans-serif;
     font-size: 3rem;
     padding-bottom: 30px;
     text-transform: uppercase
 }
 
 h1 {
    font-family: 'Archivo Black', sans-serif;
     color: white;
     font-weight: 500
 }
 h2 {
     font-size: 3em;
 }
 h3,
 h4,
 h5,
 h6 {
     font-weight: 700
 }

 h3 {
     font-family: 'Chivo', sans-serif;
     color: white
 }
 
 .text-faded {
     color: rgba(255, 255, 255, .7)
 }
 
 @media (max-width:992px) {
     .map {
         height: 75%
     }
 }
 
 .scroll-to-top {
     position: fixed;
     right: 15px;
     bottom: 15px;
     display: none;
     width: 50px;
     height: 50px;
     text-align: center;
     color: #fff;
     background: rgba(52, 58, 64, .5);
     line-height: 45px
 }
 
 .scroll-to-top:focus,
 .scroll-to-top:hover {
     color: #fff
 }
 
 .scroll-to-top:hover {
     background: #343a40
 }
 
 .scroll-to-top i {
     font-weight: 800
 }

 .scroll-to-buttom {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 45px
}

.scroll-to-buttom:focus,
.scroll-to-buttom:hover {
     color: #fff
 }
 
 .scroll-to-buttom:hover {
     background: #343a40
 }
 
 .scroll-to-buttom i {
     font-weight: 800
 }

 .masthead {
     min-height: 30rem;
     position: relative;
     display: table;
     width: 100%;
     height: auto;
     padding-top: 8rem;
     padding-bottom: 8rem;
     background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .1))), url(../img/dark2.jpg);
     background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url(../img/dark2.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover
 }
 
 .masthead h1 {
     font-size: 4rem;
     margin: 0;
     padding: 0
 }
 
 @media (min-width:992px) {
     .masthead {
         height: 100vh
     }
     .masthead h1 {
         font-size: 5.5rem
     }
 }
  
 .portfolio-item {
     display: block;
     position: relative;
     overflow: hidden;
     max-width: 530px;
     margin: auto auto 1rem
 }
 
 .portfolio-item .caption {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     /* display: none; */
     height: 100%;
     width: 100%;
     background-color: rgba(33, 37, 41, .2);
     position: absolute;
     top: 0;
     bottom: 0;
     z-index: 1;
     opacity: 0;
 }
 
 .portfolio-item .caption .caption-content {
     color: #ecb807;
     margin: auto 2rem 2rem 
 }
 
 .portfolio-item .caption .caption-content h2 {
     font-size: 1.5rem;
     text-transform: uppercase
 }
 
 .portfolio-item .caption .caption-content p {
     font-weight: 300;
     font-size: 1.2rem
 }
 
 @media (min-width:992px) {
     .portfolio-item {
         max-width: none;
         margin: 0
     }
     .portfolio-item .caption {
         -webkit-transition: -webkit-clip-path .25s ease-out, background-color .7s;
         transition: -webkit-clip-path .25s ease-out, background-color .7s;
         -webkit-clip-path: inset(0);
         clip-path: inset(0)
     }
     .portfolio-item .caption .caption-content {
         -webkit-transition: opacity .25s;
         transition: opacity .25s;
         margin-left: 5rem;
         margin-right: 5rem;
         margin-bottom: 5rem
     }
     .portfolio-item img {
         -webkit-transition: -webkit-clip-path .25s ease-out;
         transition: -webkit-clip-path .25s ease-out;
         -webkit-clip-path: inset(-1px);
         clip-path: inset(-1px)
     }
     .portfolio-item:hover img {
         -webkit-clip-path: inset(2rem);
         clip-path: inset(2rem)
     }
     .portfolio-item:hover .caption {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         opacity: 1;
         -webkit-transition: opacity 500ms ease-in;
         transition: opacity 500ms ease-in;
         background-color: rgba(29, 128, 159, .9);
         -webkit-clip-path: inset(2rem);
         clip-path: inset(2rem);
     }
 }
 
 footer.footer {
     background-image: linear-gradient(#808080, black);
     padding-top: 5rem;
     padding-bottom: 5rem
 }
 
 footer.footer .social-link {
     display: block;
     height: 4rem;
     width: 4rem;
     line-height: 4.3rem;
     font-size: 1.5rem;
     background-color: #1d809f;
     -webkit-transition: background-color .15s ease-in-out;
     transition: background-color .15s ease-in-out;
     -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
     box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1)
 }
 
 footer.footer .social-link:hover {
     background-color: #155d74;
     text-decoration: none
 }
 
 a {
     color: #1d809f
 }
 
 a:active,
 a:focus,
 a:hover {
     color: #155d74
 }
 
 .text-secondary {
     color: #ecb807!important
 }

 /* custom */
 .fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
    color: #ecb807;
}

#env:hover {
    font-family: "Font Awesome 5 Free";
    color: grey;
}

#carrot {
    margin: 0px 40px 0px 0px;
    padding: 0px 0px 0px 0px
}

#carrot:hover {
    font-family: "Font Awesome 5 Free";
    color: grey;
}

